#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        tap_hold_layer: tap_hold_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_HOLD_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
        };
    };

    combos { compatible = "zmk,combos"; };

    macros {
        diw: diw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LEFT) &kp RA(RS(RIGHT)) &kp BACKSPACE>;
            label = "DIW";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp EQUAL   &kp N1            &kp N2              &kp N3          &kp N4          &kp N5  &none                                                               &none                    &kp N6  &kp N7            &kp N8             &kp N9               &kp N0                     &kp MINUS
&kp TAB     &kp Q             &kp W               &kp E           &kp R           &kp T   &kp LG(PLUS)                                                        &none                    &kp Y   &kp U             &kp I              &kp O                &kp P                      &kp BSLH
&kp ESC     &hm LEFT_SHIFT A  &hm LEFT_CONTROL S  &hm LEFT_ALT D  &hm LEFT_GUI F  &kp G   &kp LG(MINUS)  &mo 4    &kp LEFT_GUI      &kp RIGHT_GUI  &mo 5      &kp CAPSLOCK             &kp H   &hm RIGHT_GUI J   &hm RIGHT_ALT K    &hm RIGHT_CONTROL L  &hm RIGHT_SHIFT SEMICOLON  &kp SQT
&kp LSHIFT  &kp Z             &kp X               &kp C           &kp V           &kp B                           &diw              &none                                              &kp N   &kp M             &kp COMMA          &kp DOT              &kp FSLH                   &kp RSHFT
&mo 2       &none             &kp LG(LC(SPACE))   &kp TAB         &kp GRAVE               &kp BSPC       &kp DEL  &none             &none          &kp ENTER  &tap_hold_layer 5 SPACE          &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACKET     &kp RIGHT_BRACKET          &mo 2
            >;
        };

        keypad {
            display-name = "Kp";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                         &trans     &trans  &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                         &trans     &trans  &kp KP_N7   &kp KP_N8     &kp KP_N9      &kp KP_MINUS     &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans     &trans     &trans  &kp KP_N4   &kp KP_N5     &kp KP_N6      &kp KP_PLUS      &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                        &trans  &kp KP_N1   &kp KP_N2     &kp KP_N3      &kp KP_ENTER     &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &kp ENTER  &kp KP_N0          &trans      &trans        &kp KP_DOT     &trans           &trans
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &tog 1                                      &mo 0   &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &none                                       &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans      &trans  &trans  &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans   &trans   &trans
            >;
        };

        disable_homerow_mod {
            bindings = <
&trans          &trans  &trans            &trans        &trans        &trans  &trans                                               &trans  &trans  &trans         &trans         &trans  &trans         &trans
&trans          &trans  &trans            &trans        &trans        &trans  &trans                                               &trans  &trans  &trans         &trans         &trans  &trans         &trans
&trans          &kp A   &kp S             &kp D         &kp F         &trans  &trans  &trans  &trans      &kp LEFT      &kp RIGHT  &trans  &trans  &kp J          &kp K          &kp L   &kp SEMICOLON  &trans
&kp LEFT_SHIFT  &trans  &trans            &trans        &trans        &trans                  &trans      &kp UP_ARROW                     &trans  &trans         &trans         &trans  &trans         &kp RIGHT_SHIFT
&trans          &trans  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI          &trans  &trans  &trans      &kp DOWN      &trans     &trans          &kp RIGHT_GUI  &kp RIGHT_ALT  &trans  &trans         &trans
            >;
        };

        left_mod {
            bindings = <
&trans          &kp C_BRI_DN  &kp C_BRI_INC  &kp LC(UP_ARROW)  &kp F11  &bl BL_TOG  &bootloader                                      &trans  &trans  &trans     &trans     &trans            &trans         &trans
&trans          &trans        &trans         &trans            &trans   &trans      &trans                                           &trans  &trans  &trans     &trans     &trans            &trans         &trans
&studio_unlock  &trans        &trans         &trans            &trans   &trans      &trans       &none   &trans      &trans  &trans  &trans  &trans  &kp MINUS  &kp EQUAL  &kp SINGLE_QUOTE  &kp BACKSLASH  &trans
&trans          &trans        &trans         &trans            &trans   &trans                           &trans      &trans                  &trans  &trans     &trans     &trans            &trans         &trans
&trans          &trans        &trans         &trans            &trans               &trans       &trans  &trans      &trans  &trans  &trans          &trans     &trans     &trans            &trans         &trans
            >;
        };

        right_mod {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &bootloader          &kp C_PREVIOUS  &kp C_PP        &kp C_NEXT    &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans               &trans          &trans          &kp UP_ARROW  &trans      &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &none   &kp LG(LA(C_EJECT))  &trans          &kp LEFT_ARROW  &kp DOWN      &kp RIGHT   &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                               &trans          &trans          &trans        &trans      &trans        &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans                               &trans          &trans        &trans      &trans        &trans
            >;
        };
    };
};
